<script src="/weatherAjax.js"></script>
<script src="/metroAjax.js"></script>
<div class="show-wrapper">
  <div class="station-info">
    <div class="name-address">
      <h1>{{vm.station.name}}</h1>
      <h3 class="subtitle"><span>{{vm.station.address}} </span><span class="address" id="city">{{vm.station.city}}, </span><span class="address"id="state">{{vm.station.state}}</span></h3>
    </div>
    <div class="station-img">
      <img src="{{vm.station.photo_url}}">
    </div>

  </div>




  <button class="button" id="showButton" type="button" name="button">Train times</button>

  <div class="weather-train">
    <div class="weather">
      <div id="temp"></div>
      <div id="pers"></div>
      <div id="wind"></div>
    </div>


      <div class="trainInfo" id="train"></div>

  </div>
</div>
hrbutton

<div ng-repeat="vote in vm.station.votes">
  <h3 class="comment">{{vote.score}} </h3>
  <button class="button"data-ui-sref="voteEdit({station_id: vm.station.id, id: vote.id})">Edit this Vote</button>
</div>

<p class="subtitle">Rate this Station</p>

<form class="form">
  <textarea class="searchBar show" placeholder="Rate this Station" data-ng-model="vm.vote"></textarea>
  <button class="button" type="button" data-ng-click="vm.create()">Create</button>
</form>


<span id="locationCode" class="locationCode">{{vm.station.locationCode}}</span>
