body {
  font-family: 'Oswald', sans-serif;
}

.redt{color:red;} .greent{color: green;} .yellowt{color: gold;} .bluet{color: blue;}

.title {
  text-align: center;
    font-size: 56px;
    margin-bottom: 0px;
    margin-top: auto;
}

.subtitle {
  text-align: center;
  font-size: 27px;
  margin-top: 0px;

}

.station-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.locationCode {
  visibility: hidden;
}

.index-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: auto;
}

.stations-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.index {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-shadow: 1px -4px 35px 1px rgba(131,161,150,1);
  -moz-box-shadow: 1px -4px 35px 1px rgba(131,161,150,1);
  box-shadow: 1px -4px 35px 1px rgba(131,161,150,1);
}

.index:hover{
  width: 200.5px;
  height: 200.5px;
}


a {
  text-decoration: none;
}

.searchBar {
  align-items: center;
  width: 50%;
  padding: 10px;
}

.button {
  -moz-box-shadow: -8px 9px 43px -5px #276873;
  -webkit-box-shadow: -8px 9px 43px -5px #276873;
  box-shadow: -8px 9px 43px -5px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 21px;
  font-style: italic;
  padding: 7px 76px;
  text-decoration: none;
  text-shadow: 50px 0px 32px #3d768a;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
  background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
  background-color: #408c99;
}

.button:active {
  position: relative;
  top: 1px;
}

.show-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-train {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weather, .train {
  padding: 20px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blue {
  color: blue;
  font-size: 28px;
  background: rgb(14, 15, 15);
}

.red {
  color: red font-size: 28px;
  background: rgb(14, 15, 15);
}

.yellow {
  color: yellow;
  font-size: 28px;
  background: rgb(14, 15, 15);
}

.silver {
  color: grey;
  font-size: 28px;
  background: rgb(14, 15, 15);
}

.green {
  color: #2a9f06;
  font-size: 28px;
  background: rgb(14, 15, 15);
}

.orange {
  color: orange;
  font-size: 28px;
  background: rgb(14, 15, 15);
}

.DestinationNamestyle {
  background-color: #4f92a7;
  width: 382px;
  text-align: center;
  color: black;
  padding: 8px;
  font-size: 26px;
}

.Minstyle {
  background: black;
  color: #9f0404;
  font-size: x-large;
}

.searchBar[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

.searchBar[type=submit]:hover {
  background-color: #45a049;
}

.sation-index-tilte {
  color: #000000;
  color: #000000;
  font-size: x-large;
}

.sation-index-tilte:hover {
  color: white;
}

.info-weather {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
